In [2]:
student=["hanzala raza","bilal raza","nihal raza"];

print(student)

['hanzala raza', 'bilal raza', 'nihal raza']

In [3]:
print(student[2])

nihal raza

In [5]:
for all in student:
  print(all)

hanzala raza
bilal raza
nihal raza

In [6]:
my_loop=[10,10,10]

In [8]:
for result in my_loop:
    num=result
    print(num)

10
10
10