In [2]:
#dict
all_student_name:dict={
    "name":"habib ur rehman",
    "name1":"nihal raza",
    "name2":"sheikh huzaifa",
    "name3":"khizer zahid"
}

In [10]:
print(all_student_name)

{'name': 'habib ur rehman', 'name1': 'nihal raza', 'name2': 'sheikh huzaifa', 'name3': 'khizer zahid'}

In [8]:
print(all_student_name["name1"])

nihal raza

In [13]:
for all in all_student_name:
   print(f"{all}:{all_student_name[all]}")

name:habib ur rehman
name1:nihal raza
name2:sheikh huzaifa
name3:khizer zahid

In [14]:
s1= {"nihal":"nihal raza",
     "khizer":"khizer zahid",
     "habib":"habib ur rehman",
     "huzaifa":"shiekh huzaifa",
     "fatima":"fatima qandeel",
     "saima":"saima appi"
     }
print(s1)

{'nihal': 'nihal raza', 'khizer': 'khizer zahid', 'habib': 'habib ur rehman', 'huzaifa': 'shiekh huzaifa', 'fatima': 'fatima qandeel', 'saima': 'saima appi'}

In [16]:
print(type(s1))

<class 'dict'>

In [15]:
for s in s1:
    print(f" {s1[s].upper()} and short name {s.title()}") #title,upper,capitalize

 NIHAL RAZA and short name Nihal
 KHIZER ZAHID and short name Khizer
 HABIB UR REHMAN and short name Habib
 SHIEKH HUZAIFA and short name Huzaifa
 FATIMA QANDEEL and short name Fatima
 SAIMA APPI and short name Saima

In [17]:
#set
all_student_set:set={2,3,4,"nihal","dnd"}
print(all_student_set)

{2, 3, 4, 'dnd', 'nihal'}

In [18]:
for all in all_student_set:
  print(all)

2
3
4
dnd
nihal