In [ ]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111print("hello wolrd")

hello wolrd

In [ ]:
print("hello pakistan")

hello pakistan

In [ ]:
def function_name():
  print("hello world")
  print("hello world")
  print("hello pakistan")
  print("hello nihal")

In [ ]:
function_name()

hello world
hello world
hello pakistan
hello nihal

In [ ]:
print("hello world")

hello world

In [ ]:
function_name()

hello world
hello world
hello pakistan
hello nihal

In [ ]:
nihal=16
huzaifa=15
print(nihal < huzaifa)

False

In [ ]:
def name():
     print("nihal ki age badi koi ruk ke dikhye") if nihal < huzaifa else print("huzaifa nihal se chota or chota hi rhe gaa")

In [ ]:
name()

huzaifa nihal se chota or chota hi rhe gaa

In [ ]:
def greet(name:str):
  pello = f"HELLO {name}"
  return pello

In [ ]:
name=greet("nihal")
print(name)
print(greet("huzaifa"))
print(greet("khizer"))

HELLO nihal
HELLO huzaifa
HELLO khizer

In [ ]:
def add(x:int , y:int):
  return x+y

In [ ]:
nase=add(2,5)
print(nase)

7

In [ ]:
def all_add(*nums : int):
  print(nums)

  return sum(nums)

In [ ]:
all_add(2,2,10)

(2, 2, 10)

14

In [ ]:
names=["nihal","khizer","habib"]
print(names)

['nihal', 'khizer', 'habib']

In [ ]:
for same in names:
  print(same.title())

Nihal
Khizer
Habib

In [ ]:
def flse(*num6:int):
  print(num6)
  total:int=0
  for bilal in num6:
    total += bilal
    return total

In [ ]:
tlse=flse(2+2+3)
print(tlse)

(7,)
9

In [ ]:
def name(*num:int):
  return sum(num)

In [ ]:
name(2,2,2)

6

In [ ]:
def khizer(my_list):
   return(my_list)

In [ ]:
result = khizer([2,3,4,5])
print(type(result))

<class 'list'>

In [ ]:
def nihal (my_list1):
  return(my_list1)

In [ ]:
result1 =nihal({1,2,"nihal",2.1})
print(type(result1))

<class 'set'>

In [ ]:
def huzaifa(my_list2):
  return(my_list2)

In [ ]:
result2=huzaifa(("nihal","habib","khizer"))
print(type(result2))

<class 'tuple'>

In [ ]:
def add_all(*num:int):
    return sum(num)

In [ ]:
add_all(1350,2000,3000)

6350

In [ ]:
def apply_dis(price :int, discount:float):
    return price-(price * discount/100)

In [ ]:
total_price=apply_dis(1350,5)
print(total_price)

1282.5

In [ ]:
def apply_doc(price:int):
  discount:float=0
  if price<=10000:
    discount=10
  elif price <=50000 :
    discount=30
  else:
      discount= 50
      print("finally complete",discount)
  return  price -(price * discount/100 )

In [ ]:
total_price=add_all(1350,1500,500)
apply_discount(total_price)

(1350, 1500, 500)

3015.0